<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Bootstrap CSS -->
    <script src="https://unpkg.com/vue@3"></script>
  <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Custom Styles (Opcional) -->
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <!-- Título -->
        <h1 class="text-center my-4">Conteúdo Valorant</h1>

        <div>
            <h1>Skins do Valorant</h1>
            {% raw %}
            <button @click="fetchSkins">Carregar Skins</button>
            <div v-if="loading">Carregando...</div>
            <div v-if="error" style="color: red;">Erro ao carregar skins: {{ error }}</div>
        
            <div v-if="skins">
              <div v-for="skin in skins" :key="skin.id" class="skin-card">
                <img :src="https://media.valorant-api.com/weaponskins/{{ skin.id }}/displayicon.png" alt="Imagem da Skin" />
                <div>
                  <h3>{{ skin.name }}</h3>
                  
                </div>
              </div>
            </div>
          </div>
        {% endraw %}
    </div>



    <script>
         const { createApp } = Vue;

        createApp({
            data() {
                return {
                    items: ["Agentes", "Skins", "Mapas", "Equipamentos", "Cards", "Títulos"],
                    content: '',
                    contents: '',
                    skins: [],
                    loading: false,
                    error: null
                }
            },
            methods: {
                searchItem() {

                },
                getItems() {
                    axios.get('http://127.0.0.1:8000/content/items/').then(function (response) {
                        this.content = response.data;
                        console.log(response.data);
                    })
                },
                addContent() {
                    console.log('foi');
                    this.contents = this.content
                },
                async fetchSkins() {
                this.loading = true; // Define o estado de carregamento como verdadeiro
                this.error = null; // Reseta o erro anterior
                const response = await axios.get('http://127.0.0.1:8000/content/items/')
                this.skins = response.data.skins
                console.log(response.data);
                this.loading = false; //              
                }
            },
            mounted() {

            }
        }).mount('#app');
    </script>
</body>
</html>
