{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div id="app" class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Account Comparison</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="account1">Account 1:</label>
                    <div class="form-group">
                        <input type="text" id="account1" class="form-control mt-2" placeholder="Account 1 name" v-model="account1.name">
                        <input type="text" id="account1" class="form-control mt-2" placeholder="Account 1 tag" v-model="account1.tag">
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="account2 mt-3">Account 2:</label>
                    <div class="form-group">
                        <input type="text" id="account2" class="form-control mt-2" placeholder="Account 2 name" v-model="account2.name">
                        <input type="text" id="account2" class="form-control mt-2" placeholder="Account 2 tag" v-model="account2.tag">
                    </div>
                </div>
                <button class="btn btn-primary mt-2" @click="compareAccounts">Compare</button>
            </div>
        </div>

        <div class="card mt-2" v-if="winner !== ''">
            <div class="card-body">
                <h5 class="card-title">Winner:</h5>
                {% raw %}
                <p>{{ winner }} is better than {{ account2.name }}</p>
                <p>{{ response1 }}</p>
                <p>{{ response2 }}</p>
                {% endraw %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
    const { createApp, ref, onMounted } = Vue;

    const app = createApp({
        setup() {
            const account1 = ref({
                name: '',
                tag: ''
            })
            const account2 = ref({
                name: '',
                tag: ''
            })
            const response1 = ref({})
            const response2 = ref({});
            const winner = ref('');

            async function compareAccounts() {
                const url = 'http://localhost:8000/api/v1/player/grade/?mode=competitive';

                await axios.post(url, account1.value).then(response => {
                    response1.value = response.data;
                })
                await axios.post(url, account2.value).then(response => {
                    response2.value = response.data;
                })
                winner.value = getWinner();
                console.log(winner.value)
            }

            function getWinner() {
                const grade1 = parseInt(response1.value.total_score);
                const grade2 = parseInt(response2.value.total_score);
                if (grade1 > grade2) {
                    return account1.value.name;
                } else {
                    return account2.value.name;
                }
            }

            return {
                account1,
                account2,
                response1,
                response2,
                compareAccounts,
                getWinner,
                winner
            }

        },
    })

    app.mount('#app')
</script>
{% endblock %}