{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div id="app" class="container">
        <!-- Título -->
        <h1 class="text-center my-4">Bem Vindo ao Val Content</h1>
        <h4>Selecione o que deseja ver:</h4>
        <a href="/content" class="btn btn-primary">Skins</a>
        <a href="/matches" class="btn btn-primary">Partidas</a>
        <a href="/account" class="btn btn-primary">Contas</a>
        <a href="/items" class="btn btn-primary">Itens</a>
    </div>

{% endblock %}
